[submodule "numbfish-common"]
	path = numbfish-common
	url = git@github.com:jinelei/numbfish-common.git
[submodule "numbfish-auth"]
	path = numbfish-auth
	url = git@github.com:jinelei/numbfish-auth.git
